html, body{
    height: 100%;
    margin: 0;
    background-color: white;
}


body{

    margin: 0;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-family:'Courier New', Courier, monospace
}

nav{
    box-shadow: 10px 10px 10px 5px rgb(75, 74, 74);
   position: sticky;
    top: 0;
    
    /* box-shadow: 10px 10px 10px 10px rgb(11, 9, 9); */
    padding: .1vw;
    background-color: black;
    border: 1mm solid black;
    /* border-radius: 15%; */
    
    
    text-align: center;
    height: 70%;
     margin: 0 auto;
    transition: all 0.5s;
  

}
nav ul {
    font-family: monospace;
    /* border-radius: 15%; */
    justify-content: center;
    font-size: 150%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

nav li{
     /* border-radius: 15%; */
      border: 0.5mm solid rgb(32, 10, 10);
    color: rgb(196, 188, 188);
    background-color: white;
    /* border-radius: 25%; */
    text-align: center;
    /* text-decoration: none; */
    list-style:none;
    padding: .75em 2em;
    margin: .3em 0.02em;
    font-size: 90%;
    flex-wrap: wrap;
    
    transition: all 0.5s;
     display: inline-block;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 0px;
    transition: all 0.5s;
    scroll-margin-top: 50px;
}
a:visited{
    text-decoration: none;
    color: black;
    
    
}

li:hover{
    background-color: rgb(185, 213, 236);
}
a:hover{
    color: rgb(0, 0, 0);
}

article{
    margin: 0 2vw 0 30vw;
}