html, body{
    height: 100%;
    margin: 0;
    background-color: white;
}


body{

    margin: 0;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-family:'Courier New', Courier, monospace;
    margin: 20px 10px 20px 0;
}
h2{
    margin-top: 2vw;
    margin-left: 20vw;
    font-family: 'Courier New', Courier, monospace;
}




#front{
    margin: 10px;
    font-size: 100%
}

nav{
    box-shadow: 10px 10px 10px 5px rgb(75, 74, 74);
   position: sticky;
    top: 0;
    
    /* box-shadow: 10px 10px 10px 10px rgb(11, 9, 9); */
    padding: .1vw;
    background-color: black;
    border: 1mm solid black;
    /* border-radius: 15%; */
    
    
    text-align: center;
    height: 70%;
     margin: 0 auto;
    transition: all 0.5s;
  

}
nav ul {
    font-family: monospace;
    /* border-radius: 15%; */
    justify-content: center;
    font-size: 150%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

nav li{
     /* border-radius: 15%; */
      border: 0.5mm solid rgb(32, 10, 10);
    color: rgb(196, 188, 188);
    background-color: white;
    /* border-radius: 25%; */
    text-align: center;
    /* text-decoration: none; */
    list-style:none;
    padding: .75em 2em;
    margin: .3em 0.02em;
    font-size: 80%;
    flex-wrap: wrap;
    
    transition: all 0.5s;
     display: inline-block;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 0px;
    transition: all 0.5s;
    scroll-margin-top: 50px;
}
a:visited{
    text-decoration: none;
    color: black;
    
    
}

li:hover{
    background-color: rgb(185, 213, 236);
}
a:hover{
    color: rgb(0, 0, 0);
}

article{
    margin: 0 30vw 0 2vw;
}
.container{
    display: flex;
    justify-content: space-between; /* Optional: Distributes space between elements */
}
.block{
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* margin-top: 1vw; */
    margin-left: 2vw;
    width: 60vw;
    border: 2mm solid rgb(32, 10, 10);
    height: 37vw;
    transition: all 1s;
    overflow: auto;
}
.side{
    margin: 10px;
    flex: 1;
    height: 1vw;
    border: 1mm solid black;
    transition: all 0.5s;
}

.side:hover{
    height: 30vw;
}
img{
    height: 250px;
}
.item{
    background-color: #f1f1f1; /* Example background for items */
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    height: 18.5vw;

}
/* .item:hover{
    width: 70vw;
} */

